{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="flex flex-col items-center justify-center h-screen padding-top: 50%">
    <div class="text-center max-w-2xl p-6 bg-gradient-to-r from-blue-500 via-blue-700 to-purple-500 text-white shadow-md rounded-xl mt-16">
        <h2 class="text-4xl font-bold mb-6 padding-top:135px">
            🌟 Welcome to My Website! 🌟
        </h2>
        <p class="text-lg leading-relaxed">
            🚀 I'm a 19-year-old aspiring technologist. I've dabbled in robotics, conducted physics research using software, and built this full-stack application for my Coding Temple capstone project.
        </p>
        <p class="text-lg mt-4">
            🌈 Check out some of my projects on GitHub via the links below. I hope you enjoy exploring this website!
        </p>

        <div class="text-left mt-8">
            <h2 class="text-2xl font-bold mb-4">
                Quick Facts About Me:
            </h2>
            <ul class="list-disc pl-6">
                <li>🎓 19 years old</li>
                <li>🏡 Wisconsin resident</li>
                <li📚> Studied physics for 1 year</li>
                <li>💻 Learning C++, C#, and more on backend engineering</li>
                <li>🐱 Owner of 2 cats</li>
                <li>🔭 Aspiring Ph.D. in Astrophysics with an emphasis on stellar remnants</li>
            </ul>
        </div>

        <div class="mt-12">
            <h2 class="text-2xl font-bold mb-4">
                Important Links:
            </h2>
            <div class="space-y-4">
                <a href="https://github.com/Finn345" target="_blank" rel="noreferrer noopener" class="block">
                    <button class="w-full px-4 py-2 bg-slate-700 text-white rounded-xl hover:bg-red-800">
                        <i class="fab fa-github mr-2"></i> GitHub
                    </button>
                </a>
                <a href="https://www.linkedin.com/in/kieran-larson-779b17252/" target="_blank" rel="noreferrer noopener" class="block">
                    <button class="w-full px-4 py-2 bg-slate-700 text-white rounded-xl hover:bg-red-800">
                        <i class="fab fa-linkedin mr-2"></i> LinkedIn
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

